<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      <a class="neon" href="/">STAGED</a>
    </h1>

    <nav>
      {{#if logged_in}}
      <a class="neon" id="logout" href="/">Logout</a>
      {{else}}
      <a class="neon" id="login" href="/login">Login</a> <span class="neon">|</span> <a class="neon" id="signup" href="/signup">Sign-Up</a>
      {{/if}}
    </nav>

  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
        <h2>TERMS OF USE</h2>
        <h2>MANAGE COOKIE PREFERENCES</h2>
        <h2>CONTACT</h2>
        <h2>© 2024 ASU BOOTCAMP</h2>
    </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
