<div class="postFeed">
  <div class="blogPost">.
  </div>
    <div class="newPostCard">
      <div>
        <p>Blog Post: {{event_name}}</p>
        <p>Poster: {{artist_name}}</p>
        <p>Date Posted: {{event_time}}</p>
        <p>Post: {{stage_time}}</p>
        <div class="corner"></div>
      </div>
    </div>
</div>