<div class="card container ">
  <h2>Login</h2>
  <form class="login-form">
    <div>
      <label for="email-login">Email:</label>
      <input class="form-input text" type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input class="form-input text" type="password" id="password-login" />
    </div>
    <br>
    <div class="center">
      <button class="btn" type="submit">Login</button>
    </div>
    <div class="corner"></div>
  </form>
</div>  
<script src="/js/login.js"></script>
