<div class="form-card ">
  <h2>Login</h2>
  <form class="form login-form">
    <div class="form-group">
      <label class="text" for="email-login">Email:</label>
      <input class="form-input text" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label class="text" for="password-login">Password:</label>
      <input class="form-input text" type="password" id="password-login" />
    </div>
    <br>
    <div class="form-group center">
      <button class="btn btn-primary text" type="submit">Login</button>
    </div>
  </form>
</div>
<script src="/js/login.js"></script>
