<div class="form-card">
<h2>Sign-Up</h2>

<form class="form" id="signup-form">
  <div class="form-group">
    <label class="text"for="email-signup">Email:</label>
    <input class="form-input text" type="text" id="email-signup" />
  </div>
  <div class="form-group">
    <label class="text"for="password-signup">Password:</label>
    <input class="form-input text" type="password" id="password-signup" />
  </div>
  <br>
  <div class="form-group center">
    <button class="btn btn-primary text" type="submit">Sign-Up</button>
  </div>
</form>
</div>
<script src="../public/js/signup.js"></script>
